.nav-items {
  display: inline-block;
  position: relative;
}

.nav-items::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  background-color: #fff;
  transition: transform 0.3s ease-out;
}

.nav-items:hover::after {
  transform: scaleX(1);
}

.nav-logo {
  /* margin-left: 30px; */
  width: 280px;
  height: auto;
}

.social {
  filter: brightness(100%);
  transition: filter 0.3s ease-in-out; /* Add a transition for a smooth effect */
}

.social:hover {
  filter: brightness(0%) invert(100%);
}
